.container {
  margin-top: 9rem;

  .titleContainer {
    line-height: 1.5;
    padding: 6rem 3rem;
    p {
      font-size: 1.5rem;
    }
    h1 {
      width: 100%;
      font-size: 3.5rem;
      letter-spacing: 1.5px;
      font-weight: 300;
    }
  }

  .mainContainer {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(128, 128, 128, 0.534);
    border-bottom: 1px solid rgba(128, 128, 128, 0.534);

    .servicesContainer {
      border-right: 1px solid rgba(128, 128, 128, 0.534);
      width: 60%;
      text-align: justify;
      .icon {
        margin-bottom: 1rem;
      }
      .firstSection {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.534);

        .service1,
        .service2 {
          padding: 5rem 3rem;
        }
        .title {
          font-size: 1.1rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
        .text {
          letter-spacing: 1px;
          line-height: 2;
          font-size: small;
        }

        .service1 {
          width: 50%;
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgba(128, 128, 128, 0.534);
        }
        .service2 {
          width: 50%;
          display: flex;
          flex-direction: column;
          background-color: var(--grey);
          color: white;
        }
      }

      .secondSection {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.534);

        .service3,
        .service4 {
          padding: 5rem 3rem;
        }
        .title {
          font-size: 1.1rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
        .text {
          letter-spacing: 1px;
          line-height: 2;
          font-size: small;
        }

        .service3 {
          width: 50%;
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgba(128, 128, 128, 0.534);
          background-color: var(--orange);
        }
        .service4 {
          width: 50%;
          display: flex;
          flex-direction: column;
        }
      }

      .thirdSection {
        display: flex;
        width: 100%;

        .service5,
        .service6 {
          padding: 5rem 3rem;
        }
        .title {
          font-size: 1.1rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
        .text {
          letter-spacing: 1px;
          line-height: 2;
          font-size: small;
        }

        .service5 {
          width: 50%;
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgba(128, 128, 128, 0.534);
        }
        .service6 {
          width: 50%;
          display: flex;
          flex-direction: column;
          background-color: var(--grey);
          color: white;
        }
      }
    }
  }
  .imageContainer {
    width: 40%;
    position: relative;

    .img {
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: left;
      padding: 3rem;
    }
  }
}

@media (max-width: 400px) {
  .titleContainer.titleContainer.titleContainer {
    h1 {
      font-size: 2rem;
    }
  }
  .imageContainer.imageContainer.imageContainer {
    height: 30rem;
    img {
      padding: 1rem;
    }
  }
}
@media (max-width: 576px) {
  .servicesContainer.servicesContainer.servicesContainer {
    .firstSection,
    .secondSection,
    .thirdSection {
      flex-direction: column;
      .service1,
      .service2,
      .service3,
      .service4,
      .service5,
      .service6 {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .titleContainer.titleContainer {
    h1 {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 1000px) {
  .mainContainer {
    flex-direction: column;
    .servicesContainer.servicesContainer {
      width: 100%;
    }
    .imageContainer {
      width: 100%;
      height: 35rem;
    }
  }
}
