.container {
  margin-top: 8rem;

  .advantages {
    display: flex;
    width: 100%;
    background-color: var(--orange);
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 22rem;

      img {
        width: 4rem;
        height: auto;
      }
      p {
        margin-top: 0.5rem;
        padding: 0 0.5rem;
      }
    }
  }

  .principalProduct {
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.534);
    margin-bottom: 3rem;
  }
  .principalProductTextSection {
    width: 50%;
    padding-top: 3rem;

    .subtitle,
    .principalProductText {
      margin: 0 3rem;
    }

    h2 {
      font-size: 3rem;
      margin: 1rem 3rem 2rem 3rem;
    }

    .principalProductText {
      font-size: 13.5px;
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.5rem;
    }

    .capacityContainer {
      display: flex;
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 10rem;
        border: solid 1px rgba(128, 128, 128, 0.534);
        border-right: none;
        border-bottom: none;
        text-align: center;
        p {
          margin-bottom: 0;
        }
      }
    }
    .capacityContainer > div > p:nth-child(1) {
      font-size: 3rem;
      font-weight: bolder;
    }
  }
  .principalProductTextSection:nth-child(1) {
    letter-spacing: 2px;
  }

  .carouselPrincipalContainer {
    width: 50%;
    border: solid 1px rgba(128, 128, 128, 0.534);
    border-bottom: none;
  }

  .btn {
    margin: 2rem 3rem;
    background: none;
    color: var(--blue);
    border: 1.5px solid var(--blue);
    border-radius: 2rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    width: 9rem;
    height: 3rem;
    font-weight: bold;
    font-size: large;
  }
  .btn:hover {
    color: #fff;
  }
  .btn::after {
    content: '';
    background: var(--blue);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .secondaryProducts {
    .rackPicking {
      border: 1px solid rgba(128, 128, 128, 0.534);
      margin-bottom: 3rem;
      display: flex;
      width: 100%;

      .titleAndImage {
        width: 55%;
        display: flex;
        flex-direction: column;

        .titleSection {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 3rem;

          border-top: none;
          border-left: none;
          height: 24rem;
          p {
            letter-spacing: 2px;
          }

          h2 {
            letter-spacing: 0.3rem;
            font-size: 3rem;
          }
        }

        .secondaryMainImgContainer {
          width: 100%;
          height: 40rem;
          border-top: none;
          background-color: var(--orange);
        }
      }

      .secondaryMainText {
        background-color: var(--grey);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: 45%;
        letter-spacing: 2px;
        line-height: 2;
        font-size: 1rem;
        padding: 8.5rem 3rem 2rem 3rem;
        gap: 3rem;
      }
    }

    .mezzanine {
      border: 1px solid rgba(128, 128, 128, 0.534);
      margin-bottom: 3rem;
      display: flex;
      width: 100%;

      .mezzanineTitleAndCarousel {
        width: 45%;
        display: flex;
        flex-direction: column;

        .mezzanineTitleSection {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding: 0 3rem;
          border-top: none;
          border-left: none;
          height: 24rem;
          border: 1px solid rgba(128, 128, 128, 0.534);
          border-top: none;
          p {
            letter-spacing: 2px;
          }

          h2 {
            letter-spacing: 0.3rem;
            font-size: 3rem;
          }
        }

        .mezzanineCarouselContainer {
          border: 1px solid rgba(128, 128, 128, 0.534);
          border-top: none;
          border-bottom: none;
          width: 100%;
          height: 40rem;
        }
      }

      .mezzanineMainText {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 2;
        font-size: 1rem;
        padding: 2rem;

        .firstSection > p:nth-child(1) {
          background-color: var(--blue);
          color: white;
        }
        .firstSection > p:nth-child(2) {
          background-color: var(--grey);
          color: white;
        }
        .secondSection {
          margin-bottom: 3rem;
        }
        .secondSection > p:nth-child(1) {
          background-color: var(--orange);
        }
        .secondSection > p:nth-child(2) {
          border-bottom: 1px solid rgba(128, 128, 128, 0.534);
          border-right: 1px solid rgba(128, 128, 128, 0.534);
        }
        section {
          width: 100%;
          display: flex;
          p {
            display: flex;
            justify-content: center;
            padding: 1.5rem;
            width: 50%;
            margin: 0;
          }
        }
      }
    }

    .anaquel {
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(128, 128, 128, 0.534);
      width: 100%;

      .anaquelTextAndTitle {
        display: flex;
        height: 100%;

        .anaquelTitle {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 0 3rem;
          border-top: none;
          background-color: var(--grey);
          color: #fff;
          p {
            letter-spacing: 2px;
          }

          h2 {
            letter-spacing: 0.3rem;
            font-size: 3rem;
          }
        }
        .anaquelText {
          h3 {
            margin-bottom: 2rem;
          }
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          letter-spacing: 1px;
          line-height: 2;
          font-size: medium;
          padding: 5rem 3rem;
        }
      }
      .anaquelCarouselAndText {
        display: flex;
        width: 100%;
        margin-bottom: 3rem;

        .anaquelText {
          width: 45%;
          h3 {
            margin-bottom: 2rem;
          }
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          letter-spacing: 1px;
          line-height: 2;
          font-size: medium;
          padding: 5rem 3rem;
          border-bottom: 1px solid rgba(128, 128, 128, 0.534);
        }

        .anaquelCarouselContainer {
          width: 55%;
          background-color: var(--orange);
        }
      }
    }

    .estanterias {
      display: flex;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid rgba(128, 128, 128, 0.534);
      margin-bottom: 3rem;
    }
    .estanteriaTextSection {
      width: 50%;
      padding-top: 3rem;
      text-align: center;
      background-color: var(--grey);
      color: #fff;

      .subtitle,
      .estanteriaProductText {
        margin: 0 3rem;
      }

      h2 {
        font-size: 3rem;
        margin: 1rem 3rem 2rem 3rem;
      }

      .estanteriaProductText {
        font-size: medium;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 2;
        margin-top: 1rem;
      }
    }

    .estanteriaCarouselContainer {
      width: 50%;
      background-color: var(--orange);
    }
  }
}
@media (max-width: 400px) {
  .advantages.advantages {
    div > img {
      width: 3rem;
    }
  }

  .capacityContainer.capacityContainer.capacityContainer
    > div
    > p:nth-child(1) {
    font-size: 2rem;
  }

  .principalProduct {
    .carouselPrincipalContainer.carouselPrincipalContainer.carouselPrincipalContainer {
      height: 25rem;
    }
  }

  .rackPicking {
    .titleAndImage.titleAndImage.titleAndImage {
      .secondaryMainImgContainer.secondaryMainImgContainer.secondaryMainImgContainer {
        height: 25rem;
      }
    }
  }
  .mezzanine {
    .mezzanineTitleAndCarousel.mezzanineTitleAndCarousel.mezzanineTitleAndCarousel {
      .mezzanineCarouselContainer.mezzanineCarouselContainer.mezzanineCarouselContainer {
        height: 25rem;
      }
    }
  }
  .anaquel {
    .anaquelCarouselAndText.anaquelCarouselAndText.anaquelCarouselAndText {
      .anaquelCarouselContainer.anaquelCarouselContainer.anaquelCarouselContainer {
        height: 25rem;
      }
    }
  }
  .estanterias {
    .estanteriaCarouselContainer.estanteriaCarouselContainer.estanteriaCarouselContainer {
      height: 25rem;
    }
  }
}

@media (max-width: 576px) {
  .advantages.advantages {
    flex-direction: column;
    div {
      width: 100%;
    }
    p {
      font-size: small;
    }
  }
  .principalProductTextSection.principalProductTextSection {
    h2 {
      font-size: 2rem;
    }
  }
  .rackPicking {
    .titleAndImage {
      .titleSection.titleSection.titleSection {
        h2 {
          font-size: 2rem;
        }
      }
    }
    .secondaryMainText.secondaryMainText.secondaryMainText {
      font-size: small;
      padding: 3rem;
    }
  }
  .mezzanine {
    .mezzanineMainText.mezzanineMainText.mezzanineMainText {
      section {
        flex-direction: column;
        p {
          width: 100%;
        }
      }
    }
    .mezzanineTitleAndCarousel.mezzanineTitleAndCarousel.mezzanineTitleAndCarousel {
      .mezzanineTitleSection {
        h2 {
          font-size: 2rem;
        }
      }
    }
  }
  .anaquel {
    .anaquelCarouselAndText.anaquelCarouselAndText.anaquelCarouselAndText {
      .anaquelText {
        font-size: small;
      }
    }
  }
}

@media (max-width: 786px) {
  .rackPicking {
    .titleAndImage {
      .secondaryMainImgContainer.secondaryMainImgContainer.secondaryMainImgContainer {
        height: 30rem;
      }
    }
  }
  .mezzanine {
    .mezzanineTitleAndCarousel {
      .mezzanineCarouselContainer.mezzanineCarouselContainer.mezzanineCarouselContainer {
        height: 30rem;
      }
    }
    .mezzanineMainText {
      p {
        font-size: small;
      }
    }
  }
  .anaquel {
    .anaquelTextAndTitle.anaquelTextAndTitle.anaquelTextAndTitle {
      .anaquelText {
        font-size: small;
      }
      .anaquelTitle {
        h2 {
          font-size: 2rem;
        }
      }
    }
    .anaquelCarouselAndText.anaquelCarouselAndText.anaquelCarouselAndText {
      .anaquelText {
        p {
          font-size: small;
        }
      }
    }
  }
  .estanterias {
    .estanteriaTextSection.estanteriaTextSection.estanteriaTextSection {
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: small;
      }
    }
  }
}

@media (max-width: 1000px) {
  .principalProduct {
    flex-direction: column;
    .principalProductTextSection {
      width: 100%;
    }
    .carouselPrincipalContainer {
      width: 100%;
      height: 30rem;
    }
  }
  .rackPicking {
    flex-direction: column;
    .titleAndImage.titleAndImage.titleAndImage {
      width: 100%;
    }
    .secondaryMainText.secondaryMainText.secondaryMainText {
      width: 100%;
    }
  }
  .mezzanine {
    flex-direction: column-reverse;
    .mezzanineTitleAndCarousel.mezzanineTitleAndCarousel.mezzanineTitleAndCarousel {
      width: 100%;
    }
    .mezzanineMainText.mezzanineMainText.mezzanineMainText {
      width: 100%;
    }
  }
  .anaquel {
    .anaquelTextAndTitle.anaquelTextAndTitle.anaquelTextAndTitle {
      flex-direction: column-reverse;
      .anaquelText {
        width: 100%;
      }
      .anaquelTitle {
        width: 100%;
        padding: 3rem;
      }
    }
    .anaquelCarouselAndText.anaquelCarouselAndText.anaquelCarouselAndText {
      flex-direction: column-reverse;
      .anaquelText {
        width: 100%;
      }
      .anaquelCarouselContainer.anaquelCarouselContainer {
        width: 100%;
        height: 30rem;
      }
    }
  }
  .estanterias {
    flex-direction: column-reverse;
    .estanteriaTextSection.estanteriaTextSection {
      width: 100%;
      padding-top: 5rem;
    }
    .estanteriaCarouselContainer.estanteriaCarouselContainer {
      width: 100%;
      height: 30rem;
    }
  }
}
