/*** ESTILOS BOTÓN SLIDE LEFT ***/
.btn {
  background: none;
  color: #0e5ec6;
  border: 1.5px solid #0e5ec6;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  width: 13rem;
  height: 4rem;
  font-weight: bold;
}
.btn:hover {
  color: #fff;
}
.btn::after {
  content: '';
  background: #0e5ec6;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.btn:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
