.floatingButtonContainer {
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  z-index: 1000;
}

.floatingButton {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 24px;
  background-color: var(--blue);
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.4s ease-in-out;
}

.clickedBtn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 24px;
  background-color: var(--orange);
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.floatingButton:hover {
  background-color: var(--orange);
}

.additionalButtons {
  position: absolute;
  bottom: 60px;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.additionalButtons button {
  margin-bottom: 10px;
  width: 3rem;
  height: 3rem;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  background-color: none;
}

.additionalButtons button:nth-child(3) {
  background-color: var(--grey);
}
.additionalButtons button:nth-child(2) {
  background-color: var(--blue);
}
.additionalButtons button:nth-child(1) {
  background-color: rgb(224, 221, 221);
}

.mostrarBotones {
  opacity: 1;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
