.container {
  --bs-modal-width: 90%;
  .header {
    background-color: var(--orange);
  }

  .body {
    display: flex;
    width: 100%;

    .imgContainer {
      width: 60%;
      height: 23rem;

      .carouselContainer {
        height: 100%;
        .innerContainer {
          height: 100%;
          .element {
            height: 100%;
          }
        }
      }
    }
    .textContainer {
      width: 40%;
      text-align: justify;
      display: flex;
      align-items: center;
      height: 23rem;
      overflow: hidden;
      overflow-y: scroll;
      padding: 0 1rem;

      p {
        height: 22rem;
      }
    }
  }
  .btnClose:hover {
    background-color: red;
  }

  .footer {
    background-color: var(--grey);
  }
}

@media (max-width: 1100px) {
  .container {
    .textContainer {
      font-size: small;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    .body {
      flex-direction: column;

      .imgContainer {
        width: 100%;
        height: 20rem;
        img {
          object-fit: cover;
        }
      }
      .textContainer {
        width: 100%;
        height: fit-content;
        padding: 1rem;
        font-size: small;

        p {
          height: fit-content;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    .modalContent {
      width: 90%;
      margin: auto;
    }
  }
}
