.title {
  height: 5rem;
  background-color: var(--orange);
  color: white;
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--grey) 5px 6px 7px 8px;
}

.container {
  background-color: var(--grey);
  width: 100%;
  height: 30rem;
  display: grid;
  gap: 0.3rem;
  padding: 0.5rem;
  grid-column: 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'image1 image1 image2 image2'
    'image1 image1 image2 image2'
    'image3 image4 image5 image6';

  .image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition: 0.8s ease-in-out;

    img {
      position: relative;
      object-fit: cover;
      object-position: center;
      transition: 0.4s ease-in-out;
    }

    img:hover {
      cursor: grab;
      filter: contrast(130%);
      border: black double 6.2px;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnPop {
    position: absolute;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 450ms ease-in-out;
    scale: 0;
    padding: 0.5rem;

    .rackSTexto {
      font-size: x-large;
    }
    p {
      margin-bottom: 0;
    }
  }

  .image:hover .btnPop {
    color: white;
    scale: 1;
    background-color: rgba(128, 128, 128, 0.86);
    border-radius: 1rem;
  }

  .image1 {
    grid-area: image1;
  }
  .image2 {
    grid-area: image2;
  }
  .image3 {
    grid-area: image3;
  }
  .image4 {
    grid-area: image4;
  }
  .image5 {
    grid-area: image5;
  }
  .image6 {
    grid-area: image6;
  }
}
.bottomSeparator {
  width: 100%;
  height: 4rem;
  background-color: var(--grey);
}

@media (max-width: 786px) {
  .container {
    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    grid-template-areas:
      'image2 image1 image1'
      'image3 image4 image5';
    .image6 {
      display: none;
    }
    .btnPop {
      .rackSTexto {
        font-size: var(--bs-body-font-size);
      }
    }
  }
}
@media (max-width: 576px) {
  .container {
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas:
      'image1 image2'
      'image3 image4'
      'image5 image6';
    .image6 {
      display: block;
    }
    .btnPop {
      width: fit-content;
      height: 6rem;

      padding: 0.5rem;
    }
  }
}
@media (max-width: 454px) {
  .container {
    grid-column: 1fr;
    grid-row: 1fr;
    grid-template-areas:
      'image1'
      'image2'
      'image3';

    .image4,
    .image5,
    .image6 {
      display: none;
    }
    height: 40rem;

    .btnPop {
      font-size: x-large;

      .rackSTexto {
        font-size: x-large;
      }
    }
  }
}
